<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet"> 
    <link rel='stylesheet' type='text/css' href='style.css'>
    <title>Document</title>
</head>
<body>
    <div class='center'>
        <div class='container'>
            <!--<div class='icon'>
                <img src='whos-that-pokemon-icon.png'>
            </div>-->
            <div class='header'>
                <h1>Search for Pokemon</h1>
            </div>
            <div class='input'>
                <input type='text' class='search'>
                <input type='button' value='Search' class='btn'>
            </div>
        </div>
    </div>
</body>
</html>